google-api-python-client
google-auth
google-auth-oauthlib
langchain
langchain-community
langchain-openai
langchain-pinecone
openai
pinecone-client
pypdf
streamlit
streamlit_javascript
tiktoken
transformers
